/* universal code */

body {
  font-family: "lato";
  color: black;
}

/* header */

.title {
  text-align: center;
  font-size: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.nav li:not(:last-child) {
margin-right: 5%;
}

.nav li {
  font-size: 50px;
  text-align: center;
}

a {
  color: black;
}

/* Mission */

.mission {
  background-image: url(../images/downtown-chicago-buildings-in-black-and-white-paul-velgos.jpg);
  height: 600px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mission-text {
  text-align: center;
  background-color: white;
  height: 250px;
  width: 100%;
  margin-top: 100px;
} 

.mission-text h2 {
  font-size: 70px;
  margin-top: 20px;
}

.mission-text p {
  font-size: 50px;
  width: 80%;
  margin: -50px auto 0;
}

